body {
	font-family: helvetica, arial;
	margin: 0;
	background-color: #ecfcfe;
}

#top-headfooting img {
	margin: 0 10% 0 10%;
	max-width: 80%;
	clear: both;
}

#bottom-headfooting img {
	margin: 0 10% 0 10%;
	max-width: 80%;
	clear: both;
}



#welcome {
	width: 100%;
	font-size: 2em;
	padding: .7em 0em .7em 0em;
	line-height: 1.5em;
	box-shadow: 0px 0px 5px #000;
	background-color: #2edbee;
	text-align: center;
	color: #ffffff;
	position: relative;
}



#under-welcome {
	width: 100%;
	overflow: hidden;
	clear: both;
}

.intro-text {
	clear: both;
	max-width: 100%;
	margin: 1em;
	font-size: 1em;
	padding: 1em;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #2edbee;
	background: #fff;
}

.headfooting-img {
	text-align: center;
	margin: 1em;
}

.headfooting-img img {
	max-width: 100%;
	max-height: 70%;
	border: 1px;
	border-style: solid;
	border-color: #323232;
	box-shadow: 0px 1px 2px #000;
}

@media screen and (min-width: 480px) {

	#top-headfooting img {
		margin: 0;
		display: block;
		max-width: 40%;
	}

	#bottom-headfooting img {
		margin: 0;
		display: block;
		clear: none;
		float: left;
		max-width: 40%;
	}

	.intro-text {
		float: left;
		clear: none;
		max-width: 35%;
		margin-top: 2em;
		margin-left: 2em;
		font-size: 1.10em;
	}

	#welcome {
		font-size: 5em;
		line-height: 1.2em;
		padding: .3em 0em .3em 0em;
	}

	.headfooting-img {
		margin: 5em;		
	}

	.headfooting-img img {
		max-height: 80%;
		max-width: 50%;
	}
	
}