body {
	font-family: helvetica, arial;
	margin: 0;
}

#content {
	background-color: #ecfcfe;
	margin: 0;
}

.hidden {
	visibility: hidden;
}

#container {
	margin: auto;
	max-height: 568px;
	text-align: center;
}

.navButton {
	display: none;
}

#category {
	font-size: 1.4em;
	padding: 4% 0 7% 0;
}

#number {
	font-size: .9em;
}

#top-headfooting img {
	display: block;
	margin: 0 10% 0 10%;
	max-width: 80%;
	clear: both;
}

#bottom-headfooting img {
	display: block;
	margin: 0 10% 0 10%;
	max-width: 80%;
	clear: both;
}

#welcome {
	width: 100%;
	font-size: 2em;
	padding: .7em 0em .7em 0em;
	line-height: 1.5em;
	box-shadow: 0px 0px 5px #000;
	background-color: #2edbee;
	text-align: center;
	color: #ffffff;
	position: relative;
}

#under-welcome {
	width: 100%;
	overflow: hidden;
	clear: both;
}

.intro-text {
	clear: both;
	max-width: 100%;
	margin: 1.5em;
	font-size: 1em;
	padding: 1em;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: #2edbee;
	background: #fff;
}

.headfooting-img {
	text-align: center;
	margin: 5%;
}

.headfooting-img img {
	vertical-align: middle;
	margin-left: 2%;
	margin-right: 2%;
	max-height: 60%;
	max-width: 80%;
	border: 1px;
	border-style: solid;
	border-color: #323232;
	box-shadow: 0px 1px 2px #000;
}

@media screen and (min-width: 40.5em) and (max-width: 60em) {

	#top-headfooting img {
		margin: 0;
		max-width: 40%;
	}

	#bottom-headfooting img {
		margin: 0;
		clear: none;
		float: left;
		max-width: 40%;
	}

	.intro-text {
		float: left;
		clear: none;
		max-width: 45%;
		margin-top: 2em;
		margin-left: 1em;
		font-size: 1em;
	}

	#welcome {
		font-size: 3em;
		line-height: 1.2em;
		padding: .3em 0em .3em 0em;
	}

	#container {
		max-height: 100%;
	}

	.headfooting-img {
		margin: 5em;		
	}

	.headfooting-img img {
		max-height: 80%;
		max-width: 80%;
	}
	
}

@media screen and (min-width: 60em) {

	#top-headfooting img {
		margin: 0;
		max-width: 30%;
	}

	#bottom-headfooting img {
		margin: 0;
		clear: none;
		float: left;
		max-width: 30%;
	}

	.intro-text {
		float: left;
		clear: none;
		max-width: 45%;
		margin: 2em 5% 0 5%;
		font-size: 1.30em;
	}

	#welcome {
		font-size: 5em;
		line-height: 1.2em;
		padding: .3em 0em .3em 0em;
	}

	#container {
		max-height: 100%;
	}

	.headfooting-img {
		margin: 5% 0 2% 0;		
	}

	.headfooting-img img {
		max-height: 70%;
		max-width: 50%;
	}

	#category {
		text-align: center;
		font-size: 1.2em;
		margin: 1%;
	}

	#number {
		text-align: center;
		font-size: .9em;
		margin: .5%;
	}

	.navButton {
		display: inline;
		max-width: 5em;
		margin: 1% 1% 3% 1%;
	}
	
}