body {
	font-family: helvetica, arial;
	margin: 0;
	background-color: #ecfcfe;
}



.swiper-slide {
	clear: both;
	text-align: center;
	margin: 1.5em;
}

.swiper-slide img {
	max-width: 100%;
	max-height: 70%;
	border: 1px;
	border-style: solid;
	border-color: #323232;
	box-shadow: 0px 1px 2px #000;
}

@media screen and (min-width: 40.5em) and (max-width: 60em) {


	.swiper-slide {
		margin: 5em;		
	}

	.swiper-slide img {
		max-height: 80%;
		max-width: 80%;
	}
	
}

@media screen and (min-width: 60em) {

	.swiper-slide {
		margin: 5em;		
	}

	.swiper-slide img {
		max-height: 80%;
		max-width: 50%;
	}
	
}